
@{
    ViewData["Title"] = "ApplyForVacation";
}
<script>
    $(document).ready(function () {

    });
</script>
<h2>Apply for vacation</h2>

<div class="container">
    <div class="row">
        <form class="col-6">
            <div class="">
                <div class="row justify-content-between">
                    <div class="form-group col-6">
                        <label for="dateFrom">From</label>
                        <input class="form-control" type="date" id="dateFrom" />
                    </div>
                    <div class="form-group col-6">
                        <label for="dateTo">To</label>
                        <input class="form-control" type="date" id="dateTo" />
                    </div>
                </div>
            </div>
            <div class="">
                <select class="form-control col-12" id="selectTypeOffDay">
                    <option selected disabled hidden>Select type off day</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="">
                <div class="" style="margin-top: 20px">
                    <div class="form-group">
                        <textarea style="resize: none;" class="form-control" rows="5" placeholder="Your notes..." id="note"></textarea>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3">
                        <button type="submit" class="btn-block form-control col-12">Send</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-6">
            <div class="row justify-content-end">
                <div class="col-4">
                    Some data
                </div>
            </div>
        </div>
    </div>
</div>