@{
    ViewData["Title"] = "Home Page";
}
    <style>
        #mainAlert:hover{
           margin-top:50px;
           background: #212529;
           color: white;
           transform: scaleY(1.05);
           transition: all 0.5s ease-in-out;
        }
    </style>
    <div id="mainAlert" class="alert alert-dark" role="alert">
        <div class="row justify-content-center">
            <h4 class="alert-heading">Time Off Tracker Web Application</h4>
        </div>
        <hr>
        <div class="row justify-content-center" role="alert">
            <div class="row justify-content-center">
                <h5>The application helps companies who want to manage the vacation of employeers.</h5>
                <h5>The application that saves staff and management time!</h5>
            </div>
            <div class="row justify-content-center">
                <h4>Try to use!</h4>
            </div>
        </div>
    </div>
