@model TOT.Dto.ApplicationDto
@using TOT.Interfaces.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@inject IVacationService VacationService


<div class="row justify-content-between">
    <div class="container col-5">
        <h2 class="text-center">@Localizer["Apply for vacation"]</h2>
        <hr class="row  ml-0" />
        <form asp-action="Apply" name="form" id="form" method="post">

@await Html.PartialAsync("_ApplyVacationPartial", Model)
        </form>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
        @{
            var vacationDays = VacationService.GetVacationDays(Model.UserId);
        }
        <partial name="_VacationDaysPartial" model="vacationDays" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        window.onload = runDatePicker();

        function goBack() {
            window.history.back();
        }

        function confirm() {
            var form = document.getElementById("form");
            form.submit();
        }

        function runDatePicker() {
            $('input-group, .input-daterange').datepicker({
                weekStart: 1,
                container: '#datepicker',
                format: 'dd-mm-yyyy'
            });
            $('.input-group, .input-daterange').datepicker();
        }
    </script>
}