@page
@model AccessDeniedModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <br />
    <p class="text-danger">@Localizer["You do not have access to this resource."]</p>
</header>
