@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    ViewData["Title"] = "Password confirmation";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <br />
        <p>
            @Localizer["Please check your email to reset your password."]<br />
            @Localizer["If you didn't find the message, try checking \"Spam\" or contact administrator for help."]
        </p>
        <br />
    </div>
</div>

