@page
@model LogoutModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <br />
    <p>@Localizer["You have successfully logged out of the application."]</p>
</header>