@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <br />
        <p>
            Your password has been reset. Please <a class="btn btn-link" asp-page="./Login">click here to log in</a>
        </p>
        <br />
    </div>
</div>
