@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <br />
        <p>
            @Localizer["Your password has been reset. Please"] <a class="btn btn-link" asp-page="./Login">@Localizer["click here to log in"]</a>
        </p>
        <br />
    </div>
</div>
