@using Microsoft.AspNetCore.Identity
@using TOT.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="row">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <a class="nav-link col" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    <button type="submit col" class="btn btn-outline-light ">Log out</button>
                </div>
            }
            else
            {
               <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            }
        </ul>
    </form>
    <style>
        button:hover{
            color: blue;
        }
    </style>