@using Microsoft.AspNetCore.Identity
@using TOT.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <style>
        li{
            list-style: none;
        }
    </style>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="row justify-content-end">
            @if (SignInManager.IsSignedIn(User))
            {
            <div class="row container-fluid justify-content-end">
                <a class="nav-link col-5" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <a class="nav-link col-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                <button type="submit col-3" class="btn btn-outline-light">Log out</button>
            </div>
            }
            else
            {
               <a class="nav-link btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
            }
        </ul>
    </form>
    <style>
        button:hover{
            color: blue;
        }
    </style>