@using Microsoft.AspNetCore.Identity
@using TOT.Entities

@{
    var permission = User.IsInRole("Manager") || User.IsInRole("Administrator");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && permission)
{
    <li class="nav-item dropdown justify-content-between">
        <a class="nav-link" asp-controller="Manager" asp-action="Index">Manager</a>

    </li>
}