@using Microsoft.AspNetCore.Identity
@using TOT.Entities

@{
    var permission = User.IsInRole("Administrator");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && permission)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Admin" asp-action="List">List of users</a>
            <a class="dropdown-item" asp-controller="Admin" asp-action="Create">Create user</a>
        </div>
    </li>
}