@using Microsoft.AspNetCore.Identity
@using TOT.Entities
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    var permission = User.IsInRole("Manager") || User.IsInRole("Employee");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && permission)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Localizer["Vacation"]
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Vacation" asp-action="Apply">
                @Localizer["Apply"]
            </a>
            <a class="dropdown-item" asp-area="" asp-controller="Vacation" asp-action="List">@Localizer["My Requests"]</a>
        </div>
    </li>
}
