@using Microsoft.AspNetCore.Identity
@using TOT.Entities
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer

@{
    var permission = User.IsInRole("Manager");
}

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && permission)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Localizer["Manager"]
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Manager" asp-action="VacationList">@Localizer["Vacation requests"]</a>
        </div>
    </li>
}