@model TOT.Dto.VacationDaysDto
@{
    var TimeOffTypes = Model.TimeOffTypes;
}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        @for (int i = 0; i < TimeOffTypes.Count; i++)
        {
            <div>
                <h5 class="card-title">
                    @TimeOffTypes.ElementAt(i).TimeOffType:
                    <span class="text-danger">
                        @TimeOffTypes.ElementAt(i).WastedDays
                    </span>
                    @if (!TimeOffTypes.ElementAt(i).TimeOffType.Equals("Unpaid vacation"))
                    {
                        <span>/</span>
                        <span class="text-success">@Model.MaxWastedDays.ElementAt(i)</span>
                    }
                </h5>
        </div>
    }

    </div>
</div>