@model TOT.Dto.VacationDaysDto
@{
    var TimeOffTypes = Model.TimeOffTypes;
}

<style>
    p {
        display: inline;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>
<div class="card bg-light" style="width: 18rem;">
    <div class="card-body">
        @for (int i = 0; i < TimeOffTypes.Count; i++)
        {
            <div>
                <h5 class="card-title">
                    @TimeOffTypes.ElementAt(i).TimeOffType:
                <p class="green">
                    @TimeOffTypes.ElementAt(i).WastedDays
                @if (!TimeOffTypes.ElementAt(i).TimeOffType.Equals("Unpaid vacation"))
                {
                <p>/</p>
                <p class="red">@Model.MaxWastedDays.ElementAt(i)</p>
                }
                </p>
            </h5>
        </div>
    }

    </div>
</div>