@using Microsoft.AspNetCore.Identity;
@model TOT.Dto.RegistrationUserDto

@{
    ViewData["Title"] = "Create";

    var roles = (List<IdentityRole<int>>)ViewData["roles"];
    var roleList = new SelectList(roles, "Id", "Name", selectedValue: 2);
}

<div class="container col-6">
    <h4>Registration</h4>
    <hr />
</div>

<form asp-controller="Admin" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container col-6">
        <div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId" class="form-control"
                            asp-items=@roleList>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <input name="submit" type="submit" value="Add user" class="btn btn-outline-dark" />
                <a class="btn btn btn-outline-dark text-dark" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
