@model TOT.Dto.EditApplicationUserDto
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TOT.Resources.Resources> Localizer
@{
    ViewData["Title"] = "Edit";

    var roleList = new SelectList(Model.AllRoles, "Id", "Name", selectedValue: Model.RoleId);
    var locationList = new SelectList(Model.AllLocations, "Id", "Name", selectedValue: Model.LocationId);
    var teamList = new SelectList(Model.AllTeams, "Id", "Name", selectedValue: Model.TeamId);
    var userId = Model.Id;
}

<div class="container col-md-9">
    <h4>@Localizer["User Profile"]</h4>
    <hr />
</div>

<form asp-controller="Admin" asp-action="Edit" method="post">
    <div class="row justify-content-between">
        <div class="container col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="text" asp-for="Id" hidden />
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId" class="form-control" name="currentRoleId" asp-items=@roleList>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationId" class="control-label"></label>
                    <select asp-for="LocationId" class="form-control" name="currentLocationId" asp-items=@locationList>
                    </select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamId" class="control-label"></label>
                    <select asp-for="TeamId" class="form-control" name="currentTeamId" asp-items=@teamList>
                    </select>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value=@Localizer["Save changes"] class="btn btn-outline-dark" />
                    <a class="btn btn-outline-light text-dark" asp-controller="Admin" asp-action="UserList">@Localizer["Back to List"]</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="partialVacationDays"></div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
        var userId = @userId;
            $.ajax({
                url: "/Vacation/GetVacationDays/" + +userId,
                type: "GET",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                complete: function (response) {
                     $("#partialVacationDays").html(response.responseText);
                },
            });
        });
    </script>
}

