@page
@model IndexModel
@{
    var userId = UserManager.GetUserId(User);
}
@inject UserManager<ApplicationUser> UserManager

<div class="row justify-content-between">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Login"></label>
                <input asp-for="Input.Login" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                <input asp-for="Role" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-append">
                            <span class="input-group-text fa fa-check" style="color:green"></span>
                        </span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <partial name="_ManageNav" />
            </div>
            <button type="submit" class="btn btn-outline-dark mt-3">Save</button>
        </form>
    </div>
    <div class="col-md-3" id="partialVacationDays"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
    $(document).ready(function () {
        var userId = @userId;
            $.ajax({
                url: "/Vacation/GetVacationDays/" + +userId,
                type: "GET",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                complete: function (response) {
                     $("#partialVacationDays").html(response.responseText);
                },
            });
        });
    </script>
}
